<!-- <div class="row">
<div class="col-md-2">

</div>
<div class="col-md-8">
    <div *ngFor="let country of countries ">
        <h1>{{country.country}}</h1>
        <h6>Cases:</h6>
        <p>{{country.cases | number}}</p>
        <h6>Today:</h6>
        <p>{{country.todayCases | number}}</p>
        <h6>Active:</h6>
        <p>{{country.active | number}}</p>
        <h6>Deaths:</h6>
        <p>{{country.deaths | number}}</p>
        <h6>Deaths Today:</h6>
        <p>{{country.todayDeaths | number}}</p>
        <h6>Recovered:</h6>
        <p>{{country.recovered | number}}</p>
        <h6>Critical</h6>
        <p>{{country.critical | number}}</p>
    </div>
</div>

<div class="col-md-2">

</div>
</div> -->
<h2><span>Country</span> Statistics</h2>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="country"style="">
</div>
<div class="row">
<div class="container-fluid" style="margin-left: 30px;">
    <div class="row">
        <div *ngFor="let country of countries |filter: country">
            <div class="col-md-12">
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-10">
                            <h3 class="card-title">
                                <a>
                                    <h1>{{country.country}}</h1>
                                </a>
                            </h3>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6">
                            <h6>Active:</h6>
                            <p>{{country.active | number}}</p>
                        </div>
                        <div class="col-md-3">

                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Cases:</h6>
                            <p>{{country.cases | number}}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Today:</h6>
                            <p>{{country.todayCases | number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Deaths:</h6>
                            <p>{{country.deaths | number}}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Deaths Today:</h6>
                            <p>{{country.todayDeaths | number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Recovered:</h6>
                            <p>{{country.recovered | number}}</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Critical</h6>
                            <p>{{country.critical | number}}</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
        </div>
</div>
